button{
    background: linear-gradient(lightgrey, wheat);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    font-size: 20px;
}

body{
    font-family: 'Bree Serif', serif;
    --fontSize: 2vw;
    --fontSizeTitle: 10vw;
    --fontSizeHeading: 5vw;
    --fontSizeFront: 3vw;
    --fontSizeOverlay: 1.5vw;
    --overlaySize: 20.5vw;
    --overlayTransform: +1vw;
    --textTransform: -23.5vw;
    --columnWidth: 25%;
    --borderWidth: 1vw;
    --gap: 10%;
    --top: 5%;
    --marginSmall: 5%;
    --marginLarge: 10%;
    --rows: auto auto auto;
    --rowGap: 5%;
    --copyright: 20%;
    --cloud: 65%;
    background: linear-gradient(rgb(152, 152, 247), lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image{
    width: 100%;
    border: var(--borderWidth) solid black;
    border-radius: 10%;
    transition: .5s ease;
}

.focusedBreathing{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--columnWidth);
    gap: var(--gap);

    margin-left: var(--marginSmall);
    margin-right: auto;

    overflow-x:auto;
    overscroll-behavior-inline: contain;
}

.relaxingVisuals{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--columnWidth);
    gap: var(--gap);

    margin-left: var(--marginSmall);
    margin-right: auto;

    overflow-x:auto;
    overscroll-behavior-inline: contain;
}

.resources{
    display: inline-grid;
    grid-template-columns: var(--rows);
    column-gap: var(--gap);
    row-gap: var(--rowGap);

    margin-left: var(--marginSmall);
    margin-right: var(--marginSmall);

    overscroll-behavior-inline: contain;
}

.resources > a > img {
    inline-size: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

h1{
    text-align: center;
    margin-top: var(--top);
    font-size: var(--fontSizeHeading);
}

h1 span{
    border-radius: var(--borderWidth);
    padding-left: 1%;
    padding-right: 1%;
}

h2{
    margin-left: var(--marginSmall);
    margin-right: auto;
    font-size: var(--fontSize);
}

h2 span{
    border-radius: var(--borderWidth);
    padding-left: 1%;
    padding-right: 1%;
}

h3{
    text-align: center;
    font-size: var(--fontSize);
}

h3 span{
    border-radius: var(--borderWidth);
    padding-left: 1%;
    padding-right: 1%;
}

h4{
    text-align: center;
    font-size: var(--fontSize);
    color: black;
    margin-left: var(--marginSmall);
    margin-right: auto;
}

h4 span{
    border-radius: var(--borderWidth);
    padding-left: 1%;
    padding-right: 1%;
}

h5{
    text-align: center;
    margin-top: var(--top);
    font-size: var(--fontSizeFront);
    padding-left: 10vw;
    padding-right: 10vw;
}

h5 span{
    border-radius: var(--borderWidth);
    padding-left: 1%;
    padding-right: 1%;
}

a{
    text-decoration: none;
}

a:hover .image {
    opacity: 0.1;
}

.overlay {
    opacity: 0;
    width: var(--overlaySize);
    transform: translate(var(--overlayTransform), var(--overlayTransform));
    transition: .5s ease;
    background-color: white;
}

.text {
    color: black;
    font-size: var(--fontSizeOverlay);
    position: absolute;
    transform: translate(+0vw, var(--textTransform));
    text-align: center;
  }

a:hover .overlay {
    opacity: 1;
}

.title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--fontSizeTitle);
}

.title span{
    border-radius: var(--borderWidth);
    padding-left: 1%;
    padding-right: 1%;
}

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    top: 0; 
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
  }

.copyright { 
    text-align: center; 
    padding-top: var(--copyright);
}

.cloud {
    margin-left: var(--cloud);
    position:absolute;
}